/* ----- Colors and Typefaces------

font-family: 'IBM Plex Serif', ;
black: #333333

----*/
* {
    font-family: 'IBM Plex Serif', serif;
}
html {
    font-size: 16px;
}
/* ----- HEADER NAVIGATION ----*/
.top-bar {
    text-align: center;
}
li {
    text-decoration: none;
    list-style-type: none;
    padding-top: 1em;
}
.top-bar, .top-bar ul, .title-bar {
    background-color: #fff;
}
#bg-header {
    background-image: url(../img/bg-header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 6rem;
    
}
@media screen and (min-width: 40em) {
    .top-bar {
        text-align: left;
    }
    .top-bar-right li{
        display: inline-block;
        padding-left: 4em;
    }

    .top-bar-right {
        margin-right: 4em;

    }
    header {
        text-align: left;
    }
    #bg-header {
    }
}/* ----- FOOTER ----*/

footer {
    background-color: #333;
color: #fff;
padding-top: 2em;
padding-bottom: 1em;
text-align: center;
}
@media screen and (min-width: 40em) {
    footer {
        text-align: left;
    }
}
/* ----- HEADERS ----*/
h1 {
    color: #fff;
    margin-top: 5rem;
    font-size: 2.5rem;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    margin-top: 2rem;
}
}
@media screen and (min-width: 40em) {
    h1 {
        
    }
}
/* ----- HEADER RULES ----*/
h1:before, #about h2:before, #services h2:before, #contact h2:before {
    content: "";
    border-bottom: 1px solid #333;
    display: inline-block;
    width: 400%;
    position: relative;
    top: 0;
    right: 300%;
    z-index: -1;
  }
  
  h1:before {
      border-bottom: 1px solid #fff;
      top: 0;
    right: 300%;
    content: "";
    z-index: 1;
  }
  
  h1, h2 {
    display: inline-block;
  }
  

/* ----- IMAGES ----*/
body {
    background-image: url(../img/paper_fibers.jpg);
    background-position:center;
    background-repeat: repeat;
}
/* ----- BUTTONS ----*/
.button.hollow {
    border: 1px solid #333;
    color: #333;
    text-transform: uppercase;
}

.button.hollow:hover {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}
/* ----- TYPOGRAPHY ----*/
#center-quote {
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* ----- FORMS ----*/
::placeholder {
    color: #333;
    text-transform: uppercase;
}
[type='text'], [type='email'], select, textarea {
    border: 0px;
    border-bottom: 1px solid #333;
    background-color: transparent;
    padding-left: 0;
    box-shadow: none;
}
[type='text']:focus, [type='email']:focus, select:focus, textarea:focus{ 
    border: 0px;
    border-bottom: 1px solid #333;
    background-color: transparent;
    box-shadow: none;
}
select {
    text-transform: uppercase;
}
/* ----- RESPONSIVE GALLERY ----*/

@media print, screen and (min-width: 40em) {
.grid-margin-y > .cell {
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.gallery {
    padding-bottom: 1rem;
}
}

/* ----- UTILITIES ----*/

.timeline-1 h3 {
    font-family: 'IBM Plex Serif', ;
}